<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBrdSLLy9U0EfkByI5QA6CLT0uJfAjHZEI</string>
	<key>GCM_SENDER_ID</key>
	<string>305560403551</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.faltNestMobileApp</string>
	<key>PROJECT_ID</key>
	<string>flat-nest-mobile-version</string>
	<key>STORAGE_BUCKET</key>
	<string>flat-nest-mobile-version.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:305560403551:ios:71ff51ccc16bb6ee9665ea</string>
</dict>
</plist>